<html>
<% var index = model.collection.index(); %>
<head>
  <title><%- model.title %></title>
  <link type="text/css" rel="stylesheet" href="<%- model.relative('assets/styles/styles.css') %>" />
</head>

<body>
  <header>
    <div class="row">
      <% if (index && !model.inDir('.')) { %>
        <%= breadcrumb %>
      <% } %>
    </div>
    <h1><%- model.title %></h1>
  </header>

  <%= navigation %>


  <div class="container content">
    <%= body ? body : model.blocks.HTML() %>
  </div>


  <script src="<%- model.relative('assets/scripts/scripts.js') %>"></script>
  <script>
  var config = <%= config %>;
  config.files = (config.files || []).map(function (filepath) {
    return { filepath: filepath };
  });
  config.el = document.body;
  new gtfd(config);
  </script>
</body>
</html>
